@{
    ViewBag.Title = "About";
}
<h2>I'm hungry app</h2>

<p>The goal of the application is to take commands via a text and voice interface as input, interpret what the
user wants and display the results as the output.</p>
