@model ImHungry.Helpers.Recipe.RecipeListResponse
@{
    ViewBag.Title = "Home Page";
}


<div>
    <div class="searchOptions">


        <div class="floatleft">
            @Html.TextBox("search")
            <input type="submit" value="search" class="searchBtn" />                    
        </div>
        <div class="floatleft">
            <div class="bar">
                <div class="bar-item wit-microphone">
                    <div class="mic mic-box icon-wit-mic">
                    </div>
                    <svg class="mic-svg mic-box">
                        <path stroke="#eee" stroke-width="5" fill="none" d="M0,0"></path>
                    </svg>
                </div>
            </div>                        
            <div class="tooltip fade top in" role="tooltip">
                <div class="tooltip-arrow" style="left: 50%;"></div>
                <div class="tooltip-inner">Click here to start</div>
            </div>


            <div id="info"></div>
            <div id="error"></div>
            <div id="result"></div>

        </div>
        <div class="clearfix"></div>
    </div>

    <div>
        @Html.ValidationSummary()

    </div>
    <div class="results">
        <div class="recipeContainer" id="recipeListContainer">
            @Html.Partial("_RecipeList", Model);
        </div>
    </div>

</div>



